.wrapper {
  width: 60%;
  min-height: 360px;
  max-height: 400px;
  overflow: auto;
  box-sizing: border-box;
  padding: 23px 27px;
}

.form_wrapper {
  width: 100%;
  min-height: 312px;
}

.reset_form{
  height: 240px !important;
}
.reset_form input{
  margin-top: 20px;
}
#showSettings{
  display: block;
}
@media screen and (max-width:920px) {
  .wrapper{
    display: none;
    padding: 0;
  }
}
@media screen and (max-width:720px) {
  .wrapper{
    width: 70%;
  }
}

@media screen and (max-width:600px) {
  .wrapper{
    width: 90%;
    padding: 0;
  }
}
@media screen and (max-width:420px) {
  .wrapper{
    width: 100%;
  }
  .wrapper p{
    font-size: 13px;
  }
}

