.wrapper {
  margin-top: 70px;
  width: 100%;
  height: 400px;
  box-sizing: border-box;
  padding: 15px 40px;
}

.error{
  margin-top: 80px;
}

.no_request{
  width: 100%;
  height: 400px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.no_request label{
  font-family: Rowdies !important;
  letter-spacing: 1px;
}
.user_msg{
  width: 350px;
  height: 250px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.user_msg label{
  font-size: 25px;
}
.user_msg img{
  margin-top: 20px;
  width: 256px;
  height: 256px;
}

.wrapper h2 {
  font-size: 25px;
}

.guest_container {
  margin-top: 30px;
  width: 100%;
  min-height: 230px;
  display: grid;
  grid-template-columns: repeat(3, 30%);
  grid-gap: 20px;
  justify-content: space-between;
}
.loading_animation {
  width: 100%;
  height: 400px;
  display: flex;
  align-items: center;
  justify-content: center;
}

@media screen and (max-width: 850px) {
  .guest_container {
    grid-template-columns: repeat(3, 33%);
  }
}
@media screen and (max-width: 750px) {
  .guest_container {
    grid-template-columns: repeat(2, 48%);
  }
}

@media screen and (max-width: 550px) {
  .wrapper{
    padding: 15px;
  }
  .wrapper h2{
    margin-left: 45px;
  }
  .guest_container {
    grid-template-columns: repeat(1, 80%);
    justify-content: center;
  }
}

@media screen and (max-width: 650px) {
  .wrapper {
    margin-top: 40px;
  }
}
